<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Концерн Львів</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>  
<body>
    <header> 
            <a class="logo" href="#"></a>
        <nav>
          			<!-- "aria-haspopup" trigers hower on toucj onlu for touch devices -->
				<ul>       
                        <li><a href="#" aria-haspopup="true" class="menu-dropdown">Каталог гранітних виробів</a>
                            <ul>
                                <li>
                                    <a href="#">Бруківка</a>
                                </li>	
                                <li>
                                    <a href="#">Підвіконня</a>
                                </li> 
                                <li>
                                    <a href="#">Стільниці</a>
                                </li> 
                                <li>
                                    <a href="#">Сходи</a>
                                </li> 
                                <li>
                                    <a href="#">Гранітні плити</a>
                                </li>
                            </ul>
                        </li> 
                        <li><a href="#" aria-haspopup="true">Ціни</a></li>
                        <li><a href="#" aria-haspopup="true">Галерея</a></li>        
                        <li><a href="#" aria-haspopup="true">Доставка</a></li>
                        <li><a href="#" aria-haspopup="true">Статті</a></li>
                        <li><a href="#" aria-haspopup="true">Контакти</a></li> 
                    </ul>
        </nav>
    </header>
    <main>
        <div>
            
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>