$font-stack: 'Roboto', 'Open Sans', sans-serif;
$primary-color: #006d33

body
  font: 100% $font-stack
  background-color: $primary-color
  color: #ffffff
  div
    border-style: solid
    border-color: black
 